@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

 nav{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom:1px;
    align-items: center;
    border-bottom: 1px solid hsl(220, 14%, 75%); 
}

#logo{
  margin-left: -120px;
  margin-right: 70px;
}
.space{
    width: 180px;
}
p.cart{
    padding-left:20px ;
    margin-left: 50px;
    margin-right: 40px;
}
p.profile{
    margin-left: 5px;
}
p.items{
    margin-right: 50px;
 
}

.container{
    padding-top: 45px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

 .main{
flex: 1;
flex-basis: 10%;
margin-left: 20px;
padding-left: 4%;
margin-right: 0;
width: 70%;
 }   
    .info{
        width: 25%;
        flex: 1;
        padding-right: 10%;
    }
  
#product1{
    border-radius:10px;
    width: 85%;
    height: auto;
}
#product1:hover{
    background:hsl(25, 100%, 94%);
    opacity: 0.3;
    border: 4px solid  hsl(26, 100%, 55%);
}

h1{
    margin: 20px 0px;
    font-size:45px;
}

h3{
    margin-top: 18%;
    font-size: 15px;
  color: hsl(26, 100%, 55%);
}

p{
    color: hsl(219, 9%, 45%);
    padding: 17px 0px 25px 0px;
    line-height: 1.9;
    font-size: 16px;
}

button{
color: white;
background-color: hsl(26, 100%, 55%);
padding: 15px 75px;
height: 60px;
border: none;
border-radius: 8px;
box-shadow: 0px 10px 10px hsl(25, 100%, 94%);
}

#add-button{
    background-color:hsl(223, 64%, 98%);
    color: black;
    height: 60px;
    font-weight: 700;
    padding: 15px 30px;
    margin-right: 20px;
    border: none;
    box-shadow:none;
border-radius: 8px;
}
#plus{
    margin-left: 40px;
}
#minus{
    margin-right: 40px;  
}

.percent{
    margin-left:10px;
    font-size: 16px;
    font-weight: 600;
    color: hsl(26, 100%, 55%);
    background-color:  hsl(25, 100%, 94%);
    border-radius: 8px;
    padding: 4px 12px;
}
.cancel{
    color: hsl(219, 9%, 45%, 0.420);
    font-size: 15px;
    text-decoration: line-through;
}
img#cart-button{
filter: brightness(0) invert(1);
 padding-right: 10px;
}

.shoes{
 display: flex;
padding-left: 2%;
width: 43%;
justify-content: space-evenly;
padding-bottom: 3%;
margin-left: 4px;
}

#small-shoes{
    width: 16%;
    border-radius: 10px;
}
img#small-shoes:hover{
 background:hsl(25, 100%, 94%);
 opacity: 0.3;
 border: 4px solid  hsl(26, 100%, 55%);
}
#s{
    display: none;
}



 @media screen and (max-width: 800px){ 
    nav{
        background-color:rgb(145, 222, 145);
     }
     #logo{
        margin-left: 10px;
        margin-right: 20px;
      }
     #bars{
        margin-left: 30px;
        margin-left: 50px;
        display: block;
    }
    .space{
        width: 120px;
    }
    p.cart{
        margin-right:20px ;
    }
    nav{
        border-bottom: none;
}
.items{
    display:none;
}
.profile{
    margin-top: 7px;
}
}

.container{
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.main{
    display: flex;
    margin-left: 20px;
    padding-left: 4%;
    margin-right: 0;
    width: 100%;
     }   
        .info{
            width: 70%;
        }
        #product1{
            width: 90%;
        }
      
     p{
    font-size: 25px;
     }
     button{
        width: 100%;
        margin-bottom: 30px;
     }
        #plus{
            margin-left: 150px;
        }
        #minus{
            margin-right: 150px;  
        }  
.shoes{
    display:none;
}


      
/*.cancel*/

    @media screen and (max-width: 580px){ 
        nav{  background-color:red;
        }
        #logo{
            margin-left: 10px;
            margin-right: 20px;
          }
         #bars{
            margin-left: 30px;
            margin-left: 50px;
            display: block;
        }
        .space{
            width: 120px;
    }
    #plus{
        margin-left: 100px;
    }
    #minus{
        margin-right: 100px;  
    }

}
@media screen and (max-width: 400px){ 
#plus{
    margin-left: 60px;
}
#minus{
    margin-right: 60px;  
}
}
@media screen and (max-width: 414px ){ 
    #plus{
        margin-left: 58px;
    }
    #minus{
        margin-right: 58px;  
    }}
    @media screen and (max-width: 360px ){ 
   button{
    padding: 10px 60px;}